# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autoconf Output
Makefile
aconf.h
config.status

# Eclipse CDT
.project
.cproject
.autotools